# مكتبة Telegram Bot API
pyTelegramBotAPI>=4.12.0

# مكتبة Firebase
pyrebase==3.0.27

# مكتبة Requests للتعامل مع HTTP
requests>=2.31.0

# مكتبة urllib3 المطلوبة من requests
urllib3>=2.0.4

# مكتبات مساعدة للتوافق مع Python
setuptools>=67.0.0
wheel>=0.40.0

# مكتبة gcloud إذا كنت تستخدم التخزين السحابي من Google
google-cloud-storage>=2.11.0

# مكتبة لتعامل مع JSON
simplejson>=3.18.0